<html>

    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>CSE 219</title>

        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">

        <link href="./css/course_homepage_layout.css" rel="stylesheet" type="text/css">

        <link href="./css/sea_wolf.css" rel="stylesheet" type="text/css">

        <!-- LINK TO OUR JavaScript FILE AND JQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="./js/SyllabusBuilder.js"></script>

        <!-- ONCE THE PAGE FULLY LOADS INITIALIZE THE SLIDESHOW -->
        <script>
            $(document).ready()
            {
                buildOfficeHoursGrid();
                buildRecitations();
            }
            window.on
        </script>

        <style>
            .rec_0 {
                background-color:rgb(255,204,153);
                border: 5px solid white;
                border-radius: 25px;
                box-shadow: 5px 5px 5px #888888;
            }
            .rec_1 {
                background-color:rgb(229, 204, 255);
                border: 5px solid white;
                border-radius: 25px;
                box-shadow: 5px 5px 5px #888888;
            }
            .rec_cell {
                padding: 10px 5px 10px 5px;
            }
            .ta_cell {
                padding: 5px 5px 10px 15px;
            }
            .ta_name {
                font-size:14pt;
                color: black;
            }
            .ta_email {
                font-size:10pt;
                color: rgb(0,0,80);
            }
        </style>
    </head>



    <body>

        <div id="content">

            <div id="navbar">

                <div id="bannerImg">
                    <a><img alt="Banner Image" class="sbu_navbar" src="./images/BannerImage.jpg"></a>
                </div>
                <!-- NAVIGATION LINKS GO HERE -->
                <a class="nav" href="index.html" id="home_link">Home</a><a class="open_nav" href="syllabus.html" id="syllabus_link">Syllabus</a><a class="nav" href="schedule.html" id="schedule_link">Schedule</a><a class="nav" href="hws.html" id="hws_link">HWs</a>
            </div>


            <div id="banner">
                <!-- BANNER NEEDS TO BE SET -->
            </div>

            <div id="desc">

                <div id="custom_syllabus_content">

                    <h3>COURSE DESCRIPTION</h3>

                    <p>Description of the course.</p>

                    <p><br /></p>

                    <h3>COURSE TOPICS</h3>

                    <ul>
                        <li>Topics About the Course.</li>
                        <li>Broken into Bullets.</li>
                        <li>Making effective use of a programming environment, including:
                            <ul>
                                <li>Semi Bullets</li>
                                <li>Talk About Course</li>
                            </ul>
                        </li>
                    </ul>

                    <p><br /></p>

                    <h3>PREREQUISITES</h3>

                    <p>Prerequisites for the course,
                        and topics you must to know.</p>
                    <ul>
                        <li>Bullets about prerequisitess.</li>
                        <li>Another Bullet Point.</li>
                    </ul>


                    <p><br /></p>

                    <h3 id="tas"> GRADUATE TEACHING ASSISTANTS</h3>

                    <br />
                    <table>
                        <tbody id ="grad_tas">

                        </tbody>
                    </table>	

                    <br />
                    <br />

                    <h3 class="ta_office_hours">UNDERGRAD TEACHING ASSISTANTS</h3>
                    <br />
                    <table>
                        <tbody id="undergrad_tas">

                        </tbody>
                    </table>

                    <br />
                    <br />

                    <h3 id="office_hours_grid">OFFICE HOURS GRID</h3>
                    <table class="office_hours_schedule" cellspacing="0" border="1">
                        <tbody id="office_hours_table">
                            <tr>
                                <th class="sch" width="150px">Start Time</th>
                                <th class="sch" width="150px">End Time</th>
                                <th class="sch" width="200px">MONDAY</th>
                                <th class="sch" width="200px">TUESDAY</th>
                                <th class="sch" width="200px">WEDNESDAY</th>
                                <th class="sch" width="200px">THURSDAY</th>
                                <th class="sch" width="200px">FRIDAY</th>
                            </tr>                        
                        </tbody>
                    </table>
                    <br /> 
                    <br />

                    <h3 id="recitations">RECITATIONS</h3>

                    <table>
                        <tbody id="rec_table">
                            <!-- THIS WILL BE GENERATED BY JavaScript-->
                        </tbody>
                    </table>
                    <br /><br />
                </div>

                <br>


                <div id="leftFooter">
                    <a><img alt="Left Footer" class="sunysb" src="./images/LeftFooter.png" style="float:left"></a>
                </div>

                <div id="rightFooter">
                    <a><img alt="Right Footer" class="sunysb" src="./images/RightFooter.png" style="float:right"></a>
                </div>


                <p style="font-size:9pt; text-align:center;">Web page created and maintained<br>
                    by <span id="instructor_link"><a href=""></a></span>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>

            </div>

        </div>


    </body>

</html>
